.c1{
    color:green ;
    font-size: 45px;
}
.c2{
    color: greenyellow ;
    font-size:52px ;
}
.c3{
    color: blueviolet ;
    font-size:54px ;
}
.c4{
    color: royalblue;
    font-size: 57px ;
}
.c5{
    color: orange; ;
    font-size: 49px; ;
}
.c6{
    color: grey ;
    font-size: 59px;
}
.c7{
    color: gold ;
    font-size: 55px;
}
.c8{
    color:blue ;
    font-size: 51px ;
}
.c9{
    color:red ; 
    font-size:57px ;
}
.c10{
    color: firebrick ;
    font-size: 50px ;
}
.c11{
    color: darkblue ;
    font-size: 50px ;
}
.c12{
    color: indigo ;
    font-size:50px ;
}
.c13{
    color:teal ;
    font-size:55px ;
}
.c14{
    color:black ;
    font-size: 55px ;
}
.c15{
    color: violet ;
    font-size:60px ;
}
.c16{
    color: forestgreen;
    font-size: 58px;
}
.c17{
    color:darkorange ;
    font-size:55px ;
}
.c18{
    color:darkred ;
    font-size:50px ;
}
.c19{
    color: darkorchid;
    font-size:55px ;
}
.c20{
    color:darkorchid ;
    font-size:50px ;
}
.c21{
    color:saddlebrown ;
    font-size:55px ;
}
.c22{
    color: darkblue ;
    font-size:55px ;
}
.c23{
    color:darkorange ;
    font-size:55px ;
}
.c24{
    color: blue;
    font-size:55px ;
}
.c25{
    color:firebrick ;
    font-size:49px ;
}
.c1{
    color:darkblue ;
    font-size:50px ;
}